<div class="container">
  <form action="/notes" method="post">
    <input type="text" name="note[title]">
    <textarea name="note[content]"></textarea>
    <input type="submit">
  </form>
</div>

<div class="container notes">
  <% if @notes %>
    <ul>
      <% @notes.each do |note| %>
        <li>
          <h4><%= note.title %></h4>
          <p><%= note.content %></p>
          <%= "<a href='/notes/#{note.id}'> View note...</a>" %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
