<div class="container">
  <form action="/notes" method="post">
    <h5> Create new note...</h5>
    <p>Title:</p>
    <input type="text" name="note[title]" style="display:block">
    <p>Content:</p>
    <textarea name="note[content]"></textarea>
    <input type="submit" style="margin-left:20px;">
  </form>
</div>

<div class="container notes">
  <% if @notes %>
    <ul>
      <% @notes.each do |note| %>
        <li>
          <h4><%= note.title %></h4>
          <p><%= note.content %></p>
          <%= "<a href='/notes/#{note.id}'> View note...</a>" %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
